# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env

# Build output
dist/
client/dist/

# Coverage
coverage/

# Logs
*.log

# Mac files
.DS_Store